doctype html
html(lang='en')
  include includes/_header.pug
  body
      .section.row
          h1 hi #{user.user}
          form.col.s6(method='POST' action='/formhandler')
              div.form-group
                  label(for='title') Title
                  input.form-control(type='text' id='title' placeholder='Your title..' name='title')
              div.form-group
                  label(for='text') Your text
                  textarea.form-control.materialize-textarea(type='text' id='text' placeholder='Your text..' name='text')
              .err #{err}
              button.waves-effect.waves-light.btn(type='submit') Post
              a.waves-effect.waves-teal.btn-flat.btn_back(href='/messages') Back
