doctype html
html(lang='en')
    include includes/_header.pug
    body
        .section.row
            form.col.s6(method='POST' action='/signuphandler')
                div.form-group
                    label(for='user') Username
                    input.form-control(type='text' id='user' placeholder='username' name='user')
                div.form-group
                    label(for='email') Email
                    input.form-control(type='text' id='email' placeholder='email' name='email')
                div.form-group
                    label(for='password') Password
                    input.form-control(type='password' id='password' placeholder='password' name='password')
                button.waves-effect.waves-light.btn(type='submit') Sign Up
