head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Blog App
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css')
  link(rel='stylesheet', href='style.css')
  script(src='https://code.jquery.com/jquery-3.1.1.min.js', charset='utf-8')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js')
  script(src='script.js', charset='utf-8')
  nav
    .nav-wrapper
      a.brand-logo(href='/') B. Blog
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a(href='/') MESSAGES
        li
          a(href='/form') POST
        li
          a(href='/logout') LOGOUT
